
h1 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
  margin: auto;
  max-width: 500px;
}

label {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 16px;
}

label span {
  color: #2e2e2e;
  font-weight: bold;
}

label input {
  padding: 6px 10px;
}

input[type="color"] {
  padding: 0;
}

input[type="submit"] {
  width: min-content;
  padding: 10px 15px;
  margin-top: 20px;
  background: #000;
  color: #fff;
  border: none;
  border-radius: 2px;
  font-size: 14px;
  align-self: flex-end;
  cursor: pointer;
}
